@model QuartoVM

@{
    ViewData["Title"] = "Cadastro de Funcionário";
}

@Html.AntiForgeryToken();

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastro de Quarto</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Cadastro de Quarto</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row px-auto mx-auto">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Preencha o formulário</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create" asp-controller="Quarto" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Núumero</label>
                                <input asp-for="Numero">
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Andar</label>
                                <input asp-for="Andar">
                                <span asp-validation-for="Andar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Tipo</label>
                                <input asp-for="Tipo">
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Ocupado</label>
                                <input asp-for="Ocupado">
                            </div>
                            
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.PrecoId, Model.TipoQuartoList, "-Selecionar o preco",
                             new { @class = "form-control" })
                                <span asp-validation-for="PrecoId" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submeter</button>
                            <a asp-controller="Quarto" asp-action="Index" class="btn btn-primary">Voltar</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->